  body {
    background-color: #e6e6fa;
  }

  hr {
    border-color: #fff;
    border-style: double none none;
    border-top-width: thick;
    width: 10%;
  }

  .circular {
    height: 128px;
    border-radius: 100%;
  }

  img{
    opacity: 0.5;
  }
  img:hover{
    opacity: 1;
  }

  h1 {
    color: #61b1b8;
  }

  h3 {
    color: #61b1b8;
  }
